<h2>Notes:</h2>
{{#if notes.length}}
<ul>
  {{#each notes}}
  <li class="todo">
    <form action="/complete" method="POST">
      <label>
        {{#if completed}}
        <div>
          <input type="checkbox" checked name="completed">
          <span class="completed">{{text}}</span>
        </div>
        <button class="btn btn-small" type="submit">Unmark</button>
        {{else}}
        <div>
          <input type="checkbox" name="completed">
          <span>{{text}}</span>
        </div>
        <button class="btn btn-small" type="submit">Mark done</button>
        {{/if}}

        <input type="hidden" value="{{_id}}" name="id">
      </label>
    </form>
    <form action="/delete" method="POST">
      <label class="delete"></label>
      <input id="del" type="hidden" value="{{_id}}" name="id">
      <button class="btn btn-small btn-delete" type="submit">Delete</button>
      </label>
    </form>

  </li>
  {{/each}}
</ul>
{{else}}
<p>No notes yet! <a href="/create">Create one</a></p>
{{/if}}