<form action="/changepwd" method="POST">
  <h5>Change password</h5>

  <div class="input-field">
    <input type="password" name="oldpassword" placeholder="Current password" required>
    <input type="password" name="newpassword" placeholder="New password" required>
  </div>
  <button type="submit" class="btn">Change password</button>
</form>
<h5>Delete account</h5>
<form action="/deleteuser" method="POST" onsubmit="return confirm('Do you really want to delete account?');">
  <label class="delete">
    <button class="btn" type="submit">Delete account</button>
  </label>
</form>