<nav class="blue darken-4">
  <div class="nav-wrapper">
    <div class="nav-elements">
      <a href="/" class="brand-logo">Notes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if isLogin}}

        {{else}}
          {{#if isNotes}}
          <li class="active"><a href="/notes">Notes</a></li>
          {{else}}
          <li><a href="/notes">Notes</a></li>
          {{/if}}

          {{#if isCreate}}
          <li class="active"><a href="/create">Create</a></li>
          {{else}}
          <li><a href="/create">Create</a></li>
          {{/if}}

          {{#if isSettings}}
          <li class="active"><a href="/settings">Settings</a></li>
          {{else}}
          <li><a href="/settings">Settings</a></li>
          {{/if}}

          <li>
            <form action="/logout" method="POST">
              <label>
                <button type="submit" class="btn">Logout</button>
              </label>
            </form>
          </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>