.todo {
  margin-bottom: 1rem;
}

.todo span.completed {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 1rem;
}

.todo i {
  z-index: 2;
}

.logout-btn {
  margin-top: 20px;
}

.nav-elements {
  margin: 0 50px;
}

.delete {
  padding: 0 !important;
}

.btn {
  margin: 10px 5px;
}

.btn-delete {
  width: 63px;
  padding: 0 5px;
}

.wrong {
  color: red;
}

.okay {
  color: green;
}

form {
  width: 100%;
  display: inline-block;
}